input, button {
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
}

input {
  background: rgba(255, 255, 255, 0.3);
  color: #2e2e2e;
  margin-bottom: 10px;
}

button {
  background: rgba(255, 255, 255, 0.95);
  color: #699c9a;
}

p {
  color: #fff;
  text-align: center;
}