#root {
  height: 100%;
}

.login-page {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.magic-checkbox {
  margin: 0;
  position: absolute;

  top: 0;
  left: 0;
}